<form class="form-signin col-md-6 offset-3" method="post">
  

  <h2 class="form-signin-heading text-center">Login</h2>
  <br/>

  
  <input type="email" name="email" class="form-control" placeholder="Email" require="" autofocus="" required>
  <br/>
  <input type="password" name="password" class="form-control" placeholder="Password" require="" required>
  <br/>
  <button type="submit" class="btn btn-lg btn-primary btn-block">Log In</button>
  <br/>
  <h4 class="text-center">Or</h4>
  <br/>
  <a href="/auth/facebook" class="btn btn-lg btn-success btn-block">Sign In with Facebook</a>
</form>