<form class="form-signin col-md-6 offset-3" method="post">
  

  <h2 class="form-signin-heading text-center">New Account</h2>
  <br/>

  <input type="text" name="name" class="form-control" placeholder="Name" require="" autofocus="" required>
  <br/>
  <input type="email" name="email" class="form-control" placeholder="Email" require="" autofocus="" required>
  <br/>
  <input type="password" name="password" class="form-control" placeholder="Password" require="" required>
  <br/>
  <input type="password" name="confirmPassword" class="form-control" placeholder="Confirm Password" require="" required>
  <br/>
  <button type="submit" class="btn btn-lg btn-primary btn-block">Sign Up</button>
</form>